.box{
  display: flex;
  justify-content: space-around;
  margin:6px 0;
}
.navBox{
  display: flex;
  justify-content: space-between;
}
.top {
  background-color: #ffb000;
}
.tops{
  background-color: #ffb000;
  width: 23vw;
  height: 10vw;
  line-height: 10vw;
}
.bg{
  width: 23vw;
  height: 10vw;
  line-height: 10vw;
  background-color: #ddd;
}
.btna{
  background-color: #ffb000;
  width: 24vw;
  height: 10vw;
  border: none;
  color: #333;
  border-radius: 0;
  line-height: 10vw;
}
.foot{
  background: #ffb000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 4vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}