body {
  -webkit-overflow-scrolling: touch;
}

/* antd-mobil List样式覆盖 */
.am-list-item .am-list-line .am-list-content {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.77);
}

.am-list-item .am-list-line .am-list-extra {
  font-size: 14px;
  flex-basis: 46%;
}

.am-list-item .am-list-line .am-list-brief {
  font-size: 13px;
}

.am-list-item .am-input-label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.77);
}

.am-list-item .am-input-control {
  font-size: 14px;
}

.am-list-item .am-input-control input {
  font-size: 14px;
  color: #888;
}

.am-list-item .am-input-extra {
  max-height: 30px;
}

.am-list-footer {
  font-size: 12px;
}

.am-list-item img {
  width: 35px;
  height: 35px;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* button */
.am-button-small {
  padding: 0 10px;
}

.staffList .am-flexbox .am-flexbox-item {
  margin-left: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.staffList .am-flexbox.am-flexbox-dir-column.am-flexbox-align-center {
  width: 80%;
}

.staffList .am-flexbox.am-flexbox-dir-column .am-flexbox-item {
  margin-left: 6px;
  overflow: hidden; /*超出部分隐藏*/
  white-space: nowrap; /*不换行*/
  text-overflow: ellipsis; /*超出部分文字以...显示*/
}

/* antd-mobil Textarea样式覆盖 */
.am-textarea-label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.77);
}

.am-textarea-control textarea {
  color: #888;
  font-size: 14px;
}

.am-textarea-count span {
  color: #ffb000;
}

/* antd-mobil Card样式覆盖 */
.am-card-header-content img {
  width: 52px;
  height: 52px;
}

.staffList .am-card-header-content img {
  width: 75px;
  height: 75px;
}

/* antd-mobil Switch样式覆盖 */
.am-switch .checkbox {
  width: 40px;
  height: 14px;
}

.am-switch .checkbox:before {
  width: 37px;
  height: 12px;
}

.am-switch .checkbox:after {
  width: 20px;
  height: 20px;
  top: -3px;
  left: 0;
}

.am-switch input[type='checkbox']:checked + .checkbox:after {
  transform: translateX(19px);
}

/* antd-mobil 导航栏阴影 */
.am-tab-bar-bar {
  box-shadow: 0 0 10px 1px #ccc;
}

.am-tabs-horizontal .am-tabs-pane-wrap-inactive {
  z-index: -1;
}

.am-tabs-tab-bar-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
}

.am-action-sheet-wrap {
  z-index: 9999999;
}

/* antd-mobil Menu左侧滚动 */
.am-flexbox-item {
  align-self: stretch;
}
.am-menu .am-menu-select-container {
  flex: 1;
}

/* mask */
.am-modal-wrap {
  z-index: 99999;
}

.am-modal-mask {
  z-index: 99999;
}

/* Toast */
.am-toast {
  z-index: 100000;
}

/* 富文本工具栏换行 */
.w-e-toolbar {
  flex-wrap: wrap;
}

.w-e-text-container {
  height: 60vh !important;
  z-index: 70 !important;
}

.w-e-text-container .w-e-panel-container {
  width: 100% !important;
  margin-left: 0 !important;
  left: 0 !important;
}

.w-e-toolbar .w-e-menu {
  z-index: 70 !important;
}

.w-e-text img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* 清除默认button样式 */
button {
  border: none;
  background-color: #fff;
}

.slider-frame {
  height: 100% !important;
}

.slider-list {
  height: 100% !important;
}

.slider-list a {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.slider-list img {
  width: 100% !important;
  height: 100% !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 提示栏 */
.rc-tooltip {
  z-index: 99999;
}

/* 自定义menu位置在navbar下面 */
.menu-position {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 90;
}

/* 显示PrimaryTag超出部分 */
.primaryTag-show .am-list-extra {
  flex-basis: auto !important;
}

/* 侧边抽屉 */
.my-drawer {
  position: absolute;
  overflow: auto;
  top: 54px;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

/* 日历 */
.am-calendar .content {
  z-index: 99999;
}

.staffList .am-card-header-content {
  width: 100%;
}

/* 用户行为 */
.userListDiv .sc-jWBwVP.lcLElj {
  box-sizing: border-box;
}

.userListDiv .lcLElj .top-content {
  width: 100%;
  max-width: 100%;
}

.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox {
  height: 100%;
}

.font-label {
  font-size: 14px;
  color: #444;
}

.font-value {
  font-size: 13px;
  color: #888;
}
