body {
  -webkit-overflow-scrolling: touch;
}

/* antd-mobil List样式覆盖 */
.am-list-item .am-list-line .am-list-content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.77);
}

.am-list-item .am-list-line .am-list-extra {
  font-size: 14px;
  flex-basis: 46%;
}

.am-list-item .am-input-label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.77);
}

.am-list-item .am-input-control {
  font-size: 14px;
}

.am-list-item .am-input-control input {
  font-size: 14px;
  color: #888;
}

.am-list-footer {
  font-size: 12px;
}

.am-textarea-label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.77);
}

.am-textarea-control textarea {
  color: #888;
  font-size: 14px;
}

.am-textarea-count span {
  color: #ffb000;
}

/* card自定义样式 */
.am-card-header-content {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* switch自定义样式 */
.am-switch .checkbox {
  width: 40px;
  height: 14px;
}

.am-switch .checkbox:before {
  width: 37px;
  height: 12px;
}

.am-switch .checkbox:after {
  width: 20px;
  height: 20px;
  top: -3px;
  left: 0;
}

.am-switch input[type='checkbox']:checked + .checkbox:after {
  transform: translateX(19px);
}

/* 导航栏阴影 */
.am-tab-bar-bar {
  box-shadow: 0 0 10px 1px #ccc;
}

.am-tabs-horizontal .am-tabs-pane-wrap-inactive {
  z-index: -1;
}

/* 定义menu位置在navbar下面 */
.menu-position {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 90;
}

/* menu左侧滚动 */
.am-flexbox-item {
  align-self: stretch;
}

/* 富文本工具栏换行 */
.w-e-toolbar {
  flex-wrap: wrap;
}

.w-e-text-container {
  height: 60vh !important;
  z-index: 70 !important;
}
.w-e-text-container .w-e-panel-container {
  width: 100% !important;
  margin-left: 0 !important;
  left: 0 !important;
}
.w-e-toolbar .w-e-menu {
  z-index: 70 !important;
}

.w-e-text img {
  max-width: 100%;
}

/* 清除默认button样式 */
button {
  border: none;
  background-color: #fff;
}

.slider-frame {
  height: 100% !important;
}

.slider-list {
  height: 100% !important;
}

.slider-list > img {
  height: 100% !important;
}

.ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
